@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

* > * {
  font-family: "Montserrat" !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body p,
div {
  color: black;
  font-size: 14px;
}

.background {
  background-image: url("/images/loginbg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.signin .ant-form-item .ant-form-item-label > label {
  color: #008cc7;
  font-weight: 500;
}

.ant-btn-default:hover {
  background: #008cc7 !important;
  color: white !important;
  border-color: white !important;
}

.sidebar {
  border-right: 1.2px solid #008cc7;
}

.page-content {
  border: 1px solid #008cc7;
  width: 100%;
  border-radius: 10px;
}

.page-content-sm {
  border: 1px solid #008cc7;
  border-radius: 20px;
  display: table;
}

.profile {
  border-radius: 50%;
  object-fit: cover;
}

.pr {
  min-height: 32px;
  border: 1px solid #d9d9d9;
  padding: 4px 14px;
  border-radius: 7px;
}

.ant-form-item .ant-form-item-explain-error {
  font-size: 11px;
  margin-top: 2px;
}

.carousel-img {
  width: 600px;
  height: 300px;
  object-fit: "cover";
  border-radius: 10px;
}

.ant-btn-submit:hover {
  background: #135724 !important;
}

.btn-back:hover {
  background: #008cc7 !important;
  border-color: white !important;
}

.btn-back:hover svg path {
  fill: white !important;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: #008bc750;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background: #008bc750;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background: rgba(0, 140, 199, 0.2);
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-only,
  .print-only * {
    visibility: visible;
  }
  .print-only {
    position: absolute;
    left: 0;
    top: 0;
  }
}
